.container {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  margin-bottom: 10px;
}

.input {
  background-color: rgba(41, 41, 41, 0.5);
  padding: 10px;
  border-radius: 10px;
}
