.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 400px;
  margin: 0 auto;

  & > h1 {
    margin-bottom: 1rem;

    font-size: 1.5rem;
    font-weight: bold;
  }
}

.wrapper {
  width: 100%;
}

.selectContainer {
  margin-bottom: 10px;
}

.selectTitle {
  margin-bottom: 10px;
}

.selectContent {
  background-color: rgba(41, 41, 41, 0.5);
  padding: 10px;

  color: #fff;

  &:hover {
    background-color: rgba(41, 41, 41, 0.5);
  }
}

.tokenImg {
  width: 20px;
  height: 20px;
}
