@import '~@/styles/common/index';

.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $zIndexModal;
  overflow-y: auto;

  backdrop-filter: blur(3px);
}

.content {
  overflow: hidden;

  width: 400px;
  background-color: rgba(40, 40, 40, 1);
  border: 1px solid rgba(255, 255, 255, 0.089);
  border-radius: 1.6rem;
  padding: 20px;
}
