.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.claimContainer {
  width: 100%;
}
.claimContainer .item {
  background-color: #31383d;
  overflow: hidden;
  margin: 10px;
}
.claimContainer .itemRight,
.claimContainer .itemLeft {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float: left;
  padding: 20px;
}
.claimContainer .itemRight {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding: 30px 0 0 20px;
  margin-right: 20px;
  width: 25%;
  position: relative;
  height: 200px;
}
.claimContainer .itemRight .upBorder,
.claimContainer .itemRight .downBorder {
  padding: 14px 15px;
  background-color: #111;
  border-radius: 50%;
  position: absolute;
}
.claimContainer .itemRight .upBorder {
  top: -8px;
  right: -35px;
}
.claimContainer .itemRight .downBorder {
  bottom: -13px;
  right: -35px;
}
.claimContainer .itemLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 69%;
  height: 200px;
  padding: 30px 20px 30px 40px;
  border-left: 3px dotted #999;

  color: #fff;
}
@media only screen and (max-width: 1150px) {
  .claimContainer .item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-right: 20px;
  }
  div.claimContainer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0 20px auto;
  }
}

.title {
  height: 100%;

  text-align: center;
  color: #fff;
  font-weight: bold;

  .expiredStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.lottie {
  height: 85% !important;
}

.pending {
  margin-top: 20px;
  height: 60% !important;
}

.betList {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-right: 10px;

  & + & {
    margin-top: 10px;
  }
}

.priceWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;

  margin-top: 20px;

  .priceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .priceTitle {
      margin-bottom: 10px;
    }
  }
}

.percentage {
  display: flex;
  justify-content: flex-end;

  margin-top: 20px;

  color: #ae1515;
  font-size: 20px;

  &.isPlus {
    color: #15ae62;
  }
}
